<igx-grid [data]="dataSource2Table1" primaryKey="ID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column header="ID" field="ID" dataType="number" [sortable]="true" title="ID"></igx-column>
  <igx-column header="Company" field="Company" dataType="string" [sortable]="true" title="Company"></igx-column>
  <igx-column header="LastName" field="LastName" dataType="string" [sortable]="true" title="LastName"></igx-column>
  <igx-column header="FirstName" field="FirstName" dataType="string" [sortable]="true" title="FirstName"></igx-column>
  <igx-column header="JobTitle" field="JobTitle" dataType="string" [sortable]="true" title="JobTitle"></igx-column>
  <igx-column header="BusinessPhone" field="BusinessPhone" dataType="string" [sortable]="true" title="BusinessPhone"></igx-column>
  <igx-column header="FaxNumber" field="FaxNumber" dataType="string" [sortable]="true" title="FaxNumber"></igx-column>
  <igx-column header="Address" field="Address" dataType="string" [sortable]="true" title="Address"></igx-column>
  <igx-column header="City" field="City" dataType="string" [sortable]="true" title="City"></igx-column>
  <igx-column header="State/Province" field="State/Province" dataType="string" [sortable]="true" title="State/Province"></igx-column>
  <igx-column header="ZIP/PostalCode" field="ZIP/PostalCode" dataType="string" [sortable]="true" title="ZIP/PostalCode"></igx-column>
  <igx-column header="Country/Region" field="Country/Region" dataType="string" [sortable]="true" title="Country/Region"></igx-column>
</igx-grid>
